<div class = "container mt-4" >
    <div class = row>
        <div class = "col-12">
            <div class="card bg-dark">
                <div class="card-body">
                    <h1>Browse Items:</h1>
                    <hr>
                    <div class="card-columns">
                        <% categories.forEach(function(categories) { %>
                            <% if(categories.status == 0) { %>
                                <div href = "../catalog/<%= categories.type %>" class="card category-cards bg-dark border-danger mb-3">
                                <h1 class="card-header">
                                    <%= categories.plural %>
                                </h1>
                                <p class="card-body">
                                    <%= categories.description %>
                                </p>
                            </div>  
                            <% }%>
                            <% if(categories.status == 1) { %>
                                <a href = "../catalog/<%= categories.type %>" class="card category-cards bg-dark border-success mb-3">
                                <h1 class="card-header">
                                    <%= categories.plural %>
                                </h1>
                                <p class="card-body">
                                    <%= categories.description %>
                                </p>
                            </a>  
                            <% }%>
                        <% }); %>
                    </div>
                </div>  
            </div>  
        </div>  
    </div>  
</div>  