<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head'); %>
</head>

<body>
<%- include('../partials/header'); %>

<div class = "container-xl mt-4" >
    <div class = row>
        <div class = "col-12">
            <div class="card bg-dark">
                <div class="card-body">
                    <h1>Hardware Catalog</h1>
                    <p class="card-text">Browse the database of computer hardware and accessories.</p>

                    <table id="example" class="table table-dark table-striped" style="width:100%">
                        <thead>
                        <tr>
                            <th scope="col">Model</th>
                            <th class="d-xs-table-cell" scope="col">Family</th>
                            <th class="d-none d-md-table-cell" scope="col">CPU Cores</th>
                            <th class="d-none d-md-table-cell" scope="col">Threads</th>
                            <th class="d-none d-md-table-cell" scope="col">Base Clock</th>
                            <th class="d-none d-md-table-cell" scope="col">Boost Clock</th>
                            <th class="d-none d-xl-table-cell" scope="col">L1 Cache</th>
                            <th class="d-none d-xl-table-cell" scope="col">L2 Cache</th>
                            <th class="d-none d-xl-table-cell" scope="col">L3 Cache</th>
                            <th class="d-none d-xl-table-cell" scope="col">Default TDP</th>
                            <th class="d-none d-xl-table-cell" scope="col">Launch Date</th>
                        </tr>
                        </thead>
                        
                        <% catalog.data.forEach(function(item) { %>
                            <tr>
                                <td><%= item["Model"] %></td>
                                <td class="d-xs-table-cell"><%= item["Family"] %></td>
                                <td class="d-none d-md-table-cell"><%= item["# of CPU Cores"] %></td>
                                <td class="d-none d-md-table-cell"><%= item["# of Threads"] %></td>
                                <td class="d-none d-md-table-cell"><%= item["Base Clock"] %></td>
                                <td class="d-none d-md-table-cell"><%= item["Max. Boost Clock ¹ ²"] %></td>
                                <td class="d-none d-xl-table-cell" ><%= item["Total L1 Cache"] %></td>
                                <td class="d-none d-xl-table-cell" ><%= item["Total L2 Cache"] %></td>
                                <td class="d-none d-xl-table-cell" ><%= item["Total L3 Cache"] %></td>
                                <td class="d-none d-xl-table-cell" ><%= item["Default TDP"] %></td>
                                <td class="d-none d-xl-table-cell"><%= item["Launch Date"] %></td>

                            </tr>
                        <% }); %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<% if(typeof searchQuery !== 'undefined'){ %>
    <h1>"<%= searchQuery.query %>"</h1>
    <%- console.log(searchQuery) %>
  <% } else{ %>  
<% } %>

<footer>
    <%- include('../partials/footer'); %>
</footer>

<script>
    $(document).ready(function() {
        $('#example').DataTable(

            {
                columnDefs: [
                { type: 'natural', targets : 0 }
                ],
                "bInfo" : false,
                "scrollX": true,
                "pagingType": "simple_numbers",
                
            }
        );
    } );
</script>

</body>
</html>

