<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head'); %>
</head>

<body>
<%- include('../partials/header'); %>

<div class = "container-fluid mt-4" >
    <div class = row>
        <div class = "col-12">
            <div class="card bg-dark">
                <div class="card-body">
                    <h1>Hardware Catalog</h1>

                    <p class="card-text">Browse the database of computer hardware and accessories.</p>

                    <table id="example" class="table table-dark table-striped table-hover" style="width:100%">
                        <thead>
                        <tr>
                            <th class="d-xs-table-cell model-cell" scope="col">Model</th>
                            <th class="d-xs-table-cell" scope="col">Man.</th>
                            <th class="d-xs-table-cell" scope="col">Family</th>
                            <th class="d-none d-md-table-cell" scope="col">CPU Socket</th>
                            <th class="d-none d-md-table-cell" scope="col">CPU Cores</th>
                            <th class="d-none d-md-table-cell" scope="col">Threads</th>
                            <th class="d-none d-md-table-cell" scope="col">Base Clock</th>
                            <th class="d-none d-md-table-cell" scope="col">Boost Clock</th>
                            <th class="d-none d-xl-table-cell" scope="col">L1 Cache</th>
                            <th class="d-none d-xl-table-cell" scope="col">L2 Cache</th>
                            <th class="d-none d-xl-table-cell" scope="col">L3 Cache</th>
                            <th class="d-none d-xl-table-cell" scope="col">Total Cache</th>
                            <th class="d-none d-xl-table-cell" scope="col">Default TDP</th>
                        </tr>
                        </thead>
                        
                        <% catalog.data.forEach(function(item) { %>
                            <tr>
                                <td class="d-xs-table-cell model-cell">
                                    <button id = "<%= item["PCDBID"]%>" type="button" class="btn btn-light btn-lg btn-block" data-toggle="modal" data-target="#itemModal" onClick = "modalContent(this)" >
                                        <%= item["Model"] %>
                                    </button>
                                </td>
                                <td class="d-xs-table-cell"><%= item["Manufacturer"] %></td>
                                <td class="d-xs-table-cell"><%= item["Family"] %></td>
                                <td class="d-none d-md-table-cell"><%= item["CPU Socket"] %></td>
                                <td class="d-none d-md-table-cell"><%= item["CPU Cores"] %></td>
                                <td class="d-none d-md-table-cell"><%= item["Threads"] %></td>
                                <td class="d-none d-md-table-cell"><%= item["Base Clock"] %></td>
                                <td class="d-none d-md-table-cell"><%= item["Boost Clock"] %></td>
                                <td class="d-none d-xl-table-cell" ><%= item["Total L1 Cache"] %></td>
                                <td class="d-none d-xl-table-cell" ><%= item["Total L2 Cache"] %></td>
                                <td class="d-none d-xl-table-cell" ><%= item["Total L3 Cache"] %></td>
                                <td class="d-none d-xl-table-cell" ><%= item["Total Cache"] %></td>
                                <td class="d-none d-xl-table-cell" ><%= item["Default TDP"] %></td>
                            </tr>
                        <% }); %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<% if(typeof searchQuery !== 'undefined'){ %>
    <h1>"<%= searchQuery.query %>"</h1>
    <%- console.log(searchQuery) %>
  <% } else{ %>  
<% } %>


<%- include('../partials/itemmodal'); %>
<footer>
    <%- include('../partials/footer'); %>
</footer>

<script>
    $('#itemModal').modal('show');

    $(document).ready(function() {
        $('#example').DataTable(
            {
                columnDefs: [
                { type: 'natural', targets : 0 }
                ],
                "bInfo" : false,
                "scrollX": true,
                "pagingType": "simple_numbers",
                "language": {
                    "lengthMenu": "_MENU_ Items per page"
                }
                
            }
        );
    } );

    let catalog = JSON.parse('<%- JSON.stringify(catalog) %>');
    

    console.log(catalog.data);

    function modalContent(input){
        let currentItem;
        console.log(input.id);
        for (let obj of catalog.data){
            if(obj["PCDBID"] == input.id){
                currentItem = obj;
                break;
            }
        }
        document.getElementById("itemModalTitle").innerText = currentItem["Model"];
        document.getElementById("itemModalManufacturer").innerText = currentItem["Manufacturer"];
        document.getElementById("itemModalFamily").innerText = currentItem["Family"];
        document.getElementById("itemModalPlatform").innerText = currentItem["Platform"];
        document.getElementById("itemModalCPUSocket").innerText = currentItem["CPU Socket"];
        document.getElementById("itemModalCPUCores").innerText = currentItem["CPU Cores"];
        document.getElementById("itemModalCPUThreads").innerText = currentItem["Threads"];
        document.getElementById("itemModalBaseClock").innerText = currentItem["Base Clock"];
        document.getElementById("itemModalBoostClock").innerText = currentItem["Boost Clock"];

    }
</script>
</body>
</html>

