<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head'); %>
</head>

<body>
<%- include('../partials/header'); %>

<% if(typeof searchQuery == 'undefined'){ %>
<%- include('../partials/catalog/categories'); %>


<% } else if(searchQuery.query == 'CPU'){ %>
        <%- include('../partials/catalog/cpu'); %>  
<% } else if(searchQuery.query){ %>
    <%- include('../partials/catalog/categories'); %>  
<% } %>


<%- include('../partials/itemmodal'); %>
<footer>
    <%- include('../partials/footer'); %>
</footer>

<script>
    $(document).ready(function() {
        $('#example').DataTable(
            {
                columnDefs: [
                { type: 'natural', targets : 0 }
                ],
                "bInfo" : false,
                "scrollX": true,
                "pagingType": "simple_numbers",
                "language": {
                    "lengthMenu": "_MENU_ Items per page"
                }
                
            }
        );
    } );

    let catalog = JSON.parse('<%- JSON.stringify(catalog) %>');
    console.log(catalog.data);

    function modalContent(input){
        let currentItem;
        console.log(input.id);
        for (let obj of catalog.data){
            if(obj["PCDBID"] == input.id){
                currentItem = obj;
                break;
            }
        }
        document.getElementById("itemModalTitle").innerText = currentItem["Model"];
        document.getElementById("itemModalManufacturer").innerText = currentItem["Manufacturer"];
        document.getElementById("itemModalFamily").innerText = currentItem["Family"];
        document.getElementById("itemModalPlatform").innerText = currentItem["Platform"];
        document.getElementById("itemModalCPUSocket").innerText = currentItem["CPU Socket"];
        document.getElementById("itemModalCPUCores").innerText = currentItem["CPU Cores"];
        document.getElementById("itemModalCPUThreads").innerText = currentItem["Threads"];
        document.getElementById("itemModalBaseClock").innerText = currentItem["Base Clock"];
        document.getElementById("itemModalBoostClock").innerText = currentItem["Boost Clock"];
    }
</script>
</body>
</html>

